fastapi>=0.104.0
uvicorn>=0.24.0
sqlalchemy>=2.0.20
psycopg2-binary>=2.9.9
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-dotenv>=1.0.0
pydantic>=2.4.2
python-multipart>=0.0.6
prometheus-client>=0.16.0
aiogram>=3.4.1,<4
aiohttp>=3.9,<4
PyNaCl>=1.5
paramiko>=3.0
qrcode[pil]>=7.4.2
